@import url(reset.css);
@import url(table.styled.css);
@import url(form.styled.css);

/* base elements */

html {
  background: #1a1a0e url(../img/bg.jpg) left top;
}

body {
  font-family: verdana;
  font-size: 12px;
  
  width: 100%;
  heigth: 100%;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *display: inline-block; _width: 100%; }


/* main blocks */
#header, #menu-1, #body, #footer, #under-menu { 
  margin: 0 auto;
  width: 980px;
}
#under-menu .inner {
  padding: 20px 20px 0 20px;
  background: white;
}
  #under-menu a{
    display:block;
    color:#330;
    font-weight: bold;
  }
#under-menu td a:hover{
    display:block;
    color:#330;
    font-weight: bold;
    text-decoration:none;
  }
/* header */
#header {
  /*background: transparent url(../img/header-logo2.jpg) left top no-repeat;*/
  background: transparent url(../img/header-logo3.jpg) left top no-repeat;
 /* background: transparent url(../img/header-logo4.jpg) left top no-repeat;*/
  
  height: 136px;
  
  position: relative;
}

#homepage #header {
  /*background-image: url(header-homepage2.jpg);*/
  background-image: url(../img/header-homepage3.jpg);
  /*background-image: url(header-homepage4.jpg);*/
  height: 281px;
}

#header .front-header{
  position: absolute;
  right:0;
  width: 740px;
  height: 281px;
  background: transparent url(../img/header-front-bg.jpg) 0 0 no-repeat;
}

    #header a {
      display: block;
      width: 100%;
      height: 136px;
      
      background: transparent url(../img/header/1.jpg) right top no-repeat;
    }
    
    #header #headerFlash {
      position: absolute;
      z-index: 100;
      right: 0;
      top: 0;
      background: #fff;
    }
   

/* menu-1 */
  
#menu-1 {
  background-color: #8ab027;
}

  #menu-1 ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
  }
  
    #menu-1 ul li {
      float: left;
      padding: 0;
      margin: 0;
    }

    #menu-1 ul li.addititonal {
      float: right;
    }

      #menu-1 ul li.addititonal a {
        font-size: 10px;
        font-family: tahoma;
        text-decoration: none;
        padding: 0 10px;
        background: none;
        text-decoration: none;
      }

        #menu-1 ul li.addititonal a span {
          background-repeat: no-repeat;
          background-position:  center 1px;

          text-align: center;
          padding: 12px 5px 0 5px;
          position: relative;
          top: 6px;
        }
    

    #menu-1 ul li a {
      font-size: 12px;
      line-height: 46px;
    
      display: block;
      padding: 0 30px 0 25px;
      background: transparent url(../img/menu-1-border.gif) right center no-repeat;
      
      color: #fff;
      text-transform: lowercase;
      text-decoration: none;
    }        
        
    #menu-1 ul li:hover a, #menu-1 ul li.hover a{
      text-decoration: underline;
    }

    #menu-1 ul ul {
      background-color: #8ab027;

      padding: 8px 0;
      display: none;
      position: absolute;
    }
      
      #menu-1 ul li:hover ul, #menu-1 ul li.hover ul {
        display: block;
      }
    
        #menu-1 ul ul li {
          float: none;
          border: none;
        }
        
          #menu-1 ul ul li a {
            text-transform: none;
            line-height: 28px;
            background: none;
          }
     
     #menu-1 li.mail a {
       background: transparent url(../img/mail.gif) center center no-repeat !important;
       width: 30px;
       text-decoration: none !important;
     }      
     
        
/* body */
#body {
  /*padding-bottom: 30px;*/
  padding-bottom:300px;
  background:white url(../img/footer-trees.jpg) bottom center no-repeat;
  /*background-color: #fff;*/
}

#body .inner {
  padding: 20px;
}

#body .flat .inner {
  padding: 0;
}

#body .col-left .c-left {
  float: left;
  width: 270px;
}
  
  #body .col-left .c-left .inner {
    padding: 20px 20px 20px 25px;
  }

#body .col-left .c-right {
  float: left;
  width: 710px;
}


  #body .col-left .c-right .inner {
    padding: 10px 20px 20px 0px;
  margin-left: -4px;
  }

#body .col-right .c-left {
  float: left;
  width: 680px;
}
  
  #body .col-right .c-left .inner {
    padding: 20px 5px 20px 25px;
  }

#body .col-right .c-right {
  float: left;
  width: 300px;
}


  #body .col-right .c-right .inner {
    padding: 10px 20px 20px 30px;
  }

/* footer */
#footer {
  /*background: #d0d0c5;*/
  background: #cfc0a4;
  
  position: relative;
}

  #footer .c-left, #footer .c-right {
    float: left;
  }

  #footer .c-left {
    width: 700px;
  }

    #footer .c-left .inner {
      padding: 15px 15px 15px 20px;
      color: #75756b;
      font-size: 10px;
      line-height: 14px;
    }
    
      #footer .c-left .inner a {
        color: #75756b;
      }
  
  #footer .c-right {
    width: 250px;
  }

  #footer .c-right .inner {
    padding: 15px 0 0 0;
    position: relative;
  }
  
  #footer .credits {
    /*background: transparent url(site4all_logo.gif) right top no-repeat;*/
    background: transparent url(../img/amobile.png) right top no-repeat;
    /*color: #95958b;*/
    color: #4D4D45;
    font-size: 10px;
    
    /*float: right;*/
    display: block;
    padding-top: 2px;
    padding-right: 90px;
    padding-left:0px;
    width: 170px;
    margin-bottom: 5px;
  
  }
  
  #footer .counter {
  text-align: right;
  /*position: relative;
  height: 18px;
  bottom: 0;*/
  
  }

/* common styles */
.input-text {
  border: 1px solid #aaa;
  padding: 2px;
}

.errors {
  margin-bottom: 20px;
}


/* content styles */  
.content {
  color: #636363;
  line-height: 18px;
}

.content h1 {
  color: #898980;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #bece94;
}

.content h2 {
  color: #a2b869;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.content h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.content a {
  color: #436392;
}
.content ul {
  margin: 10px 0;
}

  .content ul li {
    padding-left: 10px;
    margin-bottom: 5px;
    background: url(../img/bullet.gif) 0px 7px no-repeat;
  }
    
table.styled td {
  background-color: #e2e2df;
}

table.styled th {
  background-color: #759619;
}

form.styled {
  background-color: #e2e2df;
}

form.styled h2 {
  color: #6d6d6f;
}

form.styled fieldset label {
  color: #636363;
}

/* news in left col */
#body .c-left .news-item .data {
  width: auto;
}

#body .c-left .news-item .title {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 4px;
}

#body .c-left .news-item .announce, #body .c-left .news-item .date {
  font-size: 11px;
  line-height: 16px;
  color: #939393;
}

#body .c-left .link-all {
  font-size: 11px;
}

.c-left .k-type h5 {
  background-color: #ebddc3;
  color: #3e210f;
  display: block;
  font-size: 13px;
  padding-left: 15px;
  line-height: 2.5;
  font-weight: bold;
}

.c-left .k-type {
  margin-bottom: 30px
}
.c-left .k-type a:hover{
    margin-bottom: 30px;
    text-decoration: none;
}
.c-left .k-type ul li {
  list-style: none;
  background-image: none;
  padding: 0px;
  line-height: 1.6
}

.c-left .k-type ul li a {
  color: #101010;
  font-size: 13px;
}
.c-left .k-type ul li:hover a {
  color: #101010;
  font-size: 13px;
  text-decoration:none;
}

.galleries {

}

.kitchens h2 {
  color: #898980;
  font-size: 25px;
  margin-bottom: 15px;
}

.kitchens .kitchen {
  width: 325px;
  float:left;
  margin-right: 10px;
  margin-bottom: 30px;
}

.kitchens .kitchen .view {
  width: 325px;
  height: 225px;
}

.kitchens .kitchen .thumbs {
  text-align: center;
  overflow:hidden;
  height:30px;
}

.kitchens .kitchen .thumbs img {
  margin: 0px 2px;
}

.kitchens .kitchen .original {
  display: none;
  position: relative;
}

.kitchens .kitchen .original img {
  position: absolute;
  display: none;
}

.kitchens .kitchen .kname {
  font-size: 16px;
  font-weight: bold;
  color: #0e0e0e;
  text-decoration: underline;
  line-height: 1.6
}

.kitchens .kitchen .kprice {
  font-size: 13px;
  color: #a30000;
  font-weight: bold;
}
.self a {
  width:100px !important;
}