.front-header .rightside {
position: absolute;
top: 50%;
z-index: 60;
height: 40px;
width: 40px;
background-image: url('../img/arrows.png');
}

.front-header .leftside{
position: relative;
top: -50%;
float:right;
-webkit-transform: rotate(-180deg); /* Chrome y Safari */
-moz-transform: rotate(-180deg); /* Firefox */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
-o-transform: rotate(-180deg);

z-index: 60;
height: 40px;
width: 40px;
background-image: url('../img/arrows.png');
}
.front-header{
	overflow: hidden;

}
.leftside, .rightside:hover{
	cursor: pointer;
}