.news-list .news-item {
  margin-bottom: 30px;
}
.news-inner {
  padding: 20px 30px 30px 30px;
}
  .news-list .news-item .image, .news-list .news-item .data {
    float: left;
  }

  .news-list .news-item .data {
    /*width: 480px;*/
  }

  .news-list .news-item .image {
    width: 150px;
  }

  .news-list .news-item .title {
    margin-bottom: 4px;
  }

.news-view .news-item .image {
  float: left;
  margin: 0 20px 20px 0;
}